<table>
    <% @members.each do |m| %>
    <tr>
        <td><%= m.seq %></td>
        <td><%= m.name %></td>
        <td><%= m.age %></td>
        <td><%= m.sex %></td>
        </td>
        <% end %>
</table>